.containerMainSlider {
  max-width: 1600px;
  height: 100%;
  width: 100%;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}
.containerSlider {
  position: relative;
  min-height: 50vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 50px 150px;
  @media (max-width: 991.5px) {
    padding: 20px;
  }
}
.containerSliderImage {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.containerSliderImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.containerSliderContent {
  height: 100%;
  width: 100%;
}
.containerSliderTitle {
  font-weight: 700;
  font-size: clamp(32px, 4.5vw, 72px);
  line-height: 1.2;
  margin-bottom: 1.6rem;
}
.containerSliderDesc {
  max-width: 500px;
  font-size: clamp(18px, 1.2vw, 21px);
  line-height: 1.2;
  margin-bottom: 2.4rem;
}
.containerSliderBtn {
  --button-crop-size: 16px;
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  vertical-align: middle;
  padding: 15px 42px;
  color: #fff;
  font-family: inherit;
  font-size: 16px;
  letter-spacing: 2.26px;
  line-height: 1.6875;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  background: #9e0b0f;
  background-image: none;
  background-image: linear-gradient(90deg, #9e0b0f, #ce1016);
  border: 2px solid #e61720;
  border-radius: 0;
  text-align: center;
  text-decoration: none;
  transition: 0.1s ease-out;
  position: relative;
  -webkit-clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - var(--button-crop-size)),
    calc(100% - var(--button-crop-size)) 100%,
    0 100%
  );
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - var(--button-crop-size)),
    calc(100% - var(--button-crop-size)) 100%,
    0 100%
  );
  z-index: 2;
  &:hover {
    background: white;
    color: #9e0b0f;
  }
}
